@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    background-image: url(images/bg.jpg);
}

*{
    font-family: Poppins;
}

/* BOX PULSANTI */
.box{
    position: relative;
    background-color: white;
    height: 80px;
    width: 85px;
    border: none;
    font-size: 20px;
    bottom: -50px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 .3em rgb(0, 0, 0);
    border-radius: 5px;
}

.box:hover{
    background-color: rgba(255, 255, 255, 0.589);
}

.ibtn{
    width: 70px;
    height: 70px;
}

/* BARRA DI RICERCA */
.searchbar{
    position: relative;
    border-radius: 5px;
    bottom: -220px;
    width: 23%;
    height: 30px;
    box-shadow: 0 0 .3em rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: text;
    top: 30px;
}

/* DATA */
.data{
    color: white;
    font-size: 40px;
    position: relative;
    text-align: center;
    bottom: -30px;
    text-shadow: 0 0 .3em rgb(0, 0, 0);
}

/* OROLOGIO */
.clock{
    position: relative;
    color: white;
    font-size: 90px;
    bottom: -50px;
    text-shadow: 0 0 .3em rgb(0, 0, 0);
}

/* METEO */
.weather{
    text-shadow: 0 0 0px rgb(0, 0, 0);
    color: white;
    position: absolute;
    font-size: 40px;
    left: 10%;
    display: flex;
    align-items: center;
    filter:drop-shadow(2px 2px 3px rgb(0, 0, 0));
}
